body {
  margin: 0;
  padding: 0;
  font-family: "SF Mono", "Fira Code", "JetBrains Mono", "Consolas", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: hsl(220, 15%, 8%);
}

body.graphiql-dark {
  background: linear-gradient(180deg, hsl(220, 15%, 8%) 0%, hsl(220, 12%, 12%) 100%);
  color: hsl(220, 10%, 85%);
}

#root {
  height: 100vh;
  width: 100vw;
}



